<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.nus.iss.mtech.ptsix.medipal">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_medipal_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.AppointmentActivity"
            android:label="Appointment"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.ConsumptionActivity"
            android:label="Consumption"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.MedicineActivity"
            android:label="Medicine"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.CategoriesActivity"
            android:label="Category"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.HealthBioActivity"
            android:label="Health Bio"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.ICEContactActivity"
            android:label="ICE Contact"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.AppointmentDetailActivity"
            android:parentActivityName=".presentation.activity.AppointmentActivity" />
        <activity
            android:name=".presentation.activity.MeasurementActivity"
            android:label="Measurement"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.PersonalActivity"
            android:label="Personal Bio"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.activity.AppTourActivity"
            android:label="App Tour"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.activity.MeasurementReportActivity"
            android:label="Report"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.activity.ReportContainerActivity"
            android:label="Report"
            android:parentActivityName=".presentation.activity.MeasurementReportActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".business.services.AppointmentAlarmReceiver" />

        <service android:name=".business.services.AppointmentReminder" />

        <service android:name=".business.services.ConsumptionDailyService" />

        <receiver android:name=".business.services.MedicineReplenishAlarmReceiver" />

        <service android:name=".business.services.MedicineReplenishReminder" />

        <receiver
            android:name=".business.services.ConsumptionBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".business.services.OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".business.services.DailyReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".presentation.activity.AddConsumptionActivity"
            android:label="Add Consumption"
            android:parentActivityName=".presentation.activity.ConsumptionActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".business.services.AppStartBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="sg.nus.iss.mtech.ptsix.medipal.MainActivity" />
            </intent-filter>
        </receiver>


    </application>
</manifest>